COMPOSE_PROJECT_NAME=auth_server

APP_NAME=auth-server
APP_ENV=local
APP_KEY=base64:9zNNnr+2maQAFtXFBqROFBO6UWQ6XOQgdLPzhIFYDoM=
APP_DEBUG=true
APP_URL=http://localhost

PHP_VERSION=83
PHP_UNAME=dev
PHP_UID=1000
PHP_GID=1000

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=auth-service
DB_USERNAME=auth-service-user
DB_PASSWORD=auth_service_pass
DB_ROOT_PASSWORD=auth_service_pass

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

CACHE_DRIVER=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=laravel_database_

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SIGNING_KEY=mBC5v1sOKVvbdEitdSBenu59nfNfhwkedkJVNabosTw=

NATS_HOST=109.107.187.159
NATS_PORT=4222
NATS_NKEY=SUAOBVLNKQYFYKURZZHPMPH2PIDXMTXMRTIACRWUKNM6IPNNPC3N5UNSDY

GOOGLE_CLIENT_ID=816943144907-svb44ngc0aa5eul33ds7nc0l74afdrvc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_REDIRECT=http://127.0.0.1/api/v1/auth/google-callback
